<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Post</title>
</head>
<body>
    <h1><%= post.title %></h1>
    <p><%= post.content %></p>
    <form action="/posts/<%= post.id %>?_method=put" method="post">
        <h2>Edite o Post</h2>
        <label for="post[title]">Titulo</label>
        <input name="post[title]" id="post[title]" type="text" value="<%= post.title %>" >
        <label for="post[content]">Conteudo</label>
        <input type="text" name="post[content]" id="post[content]"  value="<%= post.content %>">
        <button type="submit" value="Save">Editar</button>
    </form>
    <%- include('errors.ejs') %>
    <a href="/posts">Voltar</a>
    <form action="/posts/<%= post.id %>" method="post">
        <h2>Comentario</h2>
        <input type="text" name="comment[content]" id="comment[content]">
        <button type="submit">Comentar</button>
    </form>
    <ul>
        <h2>Comentarios</h2>
        <% comments.forEach( comment =>{ %>
            <li>
                <a href="/posts/<%= post.id %>/comments/<%= comment.id %>"><%= comment.content %></a>
            </li>
        <% }) %>
    </ul>
</body>
</html>